* {
  z-index: 1;
}
.App {
  background-color: rgb(255, 255, 255);
  display: grid;
  height: 100%;
  font-family: Arial;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, Arial, sans-serif;
}
h1 {
}
h3 {
  text-align: center;
}
p {
}

@media screen and (max-width: 768px) {
  .logobox {
    top: 1.6875rem;
    left: 4.25rem;
    height: 6.0566rem;
    width: 16.875rem;
    z-index: 75;
  }
  .first_section {
    display: flex;
    flex-direction: column;
  }
  .slide {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 10rem;
  }
  .years {
    margin-left: 0;
  }
  .bubble_blue {
    width: 30%;
  }
  #section_orgs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
